extends layout

block content
  p Welcome to SimpleBoun
  ul
    li 
      a(href='/login?type=database_manager') Login as Database Manager
    li 
      a(href='/login?type=student') Login as Student
    li 
      a(href='/login?type=instructor') Login as Instructor
